html{
	margin: 0;
	padding: 0;
}
body{
	font: 75% georgia, sans-serif;
	line-height: 1.9;
	color: #555753
	margin: 0;
	padding: 0;
	background-color: lightblue;
	overflow: hidden;
}
.topNav{
	background-color: #888;
	overflow: hidden;
}
